@model IEnumerable<StudentsNotebook.Models.Course>

@{
	ViewData["Title"] = "Courses";
}

<h1>Lista Kursów(@ViewBag.NumberofCourses)</h1>

<table class="table">
	<thead>
		<tr>
			<th>Nazwa kursu: </th>
			<th>Prowadzący: </th>
			<th>Trudność kursu: </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var course in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => course.Coursename)
				</td>
				<td>
					@Html.DisplayFor(modelItem => course.Professor)
				</td>
				<td>
					@Html.DisplayFor(modelItem => course.Learndifficulty)
				</td>
				<td>
					@Html.ActionLink("Materiały", "Materials", new { id = course.Id})
				</td>
			</tr>
		}
	</tbody>
</table>
<div class="col-md-12 text-center">
	<button class="btn btn-danger" onclick="location.href='@Url.Action("CreateKurs", "Home")'">Dodaj kurs</button>
</div>
